<div class="city-card">
  <p>
    <strong #cityname>
      {{ city["city"]["name"] }}, {{ city["city"]["country"] }}
      <img
        class="icon-weather"
        [src]="
          'https://openweathermap.org/img/wn/' +
          city['list'][timeSlot].weather[0].icon +
          '.png'
        "
        alt="weather icon"
      />
    </strong>
  </p>

  <select #timeSlots value="0" (change)="getTimeSlot(timeSlots.value)">
    <option *ngFor="let time of city['list']; let idx = index" [value]="idx">
      {{ time.dt * 1000 | date : "dd-MM-y, HH:mm" }}
    </option>
  </select>

  <ul>
    <li>Температура: {{ city["list"][timeSlot].main.temp }} °C</li>
    <li>Влажность: {{ city["list"][timeSlot].main.humidity }} %</li>
    <li>Давление: {{ city["list"][timeSlot].main.pressure }} гПа</li>
    <li>
      Ветер: {{ city["list"][timeSlot].wind.speed }} м/с
      <img
        src="assets/img/icon-wind-arrow.png"
        alt="wind direction"
        class="icon-wind-arrow"
        [ngStyle]="{
          transform: 'rotate(' + (city['list'][timeSlot].wind.deg + 90) + 'deg)'
        }"
      />
    </li>
    <li>Upd: {{ city["lastUpd"] | date : "dd-MM-yyyy HH:mm:ss" }}</li>
  </ul>
  <div class="button-block">
    <button
      class="button button-upd"
      (click)="updateCity(city['city']['name'], city['city']['country'])"
    >
      Обновить
    </button>
    <button
      class="button button-del"
      (click)="removeCity(city['city']['name'], city['city']['country'])"
    >
      Удалить
    </button>
  </div>
</div>
