<div>
  <p>
    <strong #cityname>
      {{ city["city"]["name"] }}, {{ city["city"]["country"] }}
    </strong>
  </p>

  <select #timeSlots value="0" (change)="getTimeSlot(timeSlots.value)">
    <option *ngFor="let time of city['list']; let idx = index" [value]="idx">
      {{ time.dt * 1000 | date : "dd-MM-y, HH:mm" }}
    </option>
  </select>

  <ul>
    <li>Температура: {{ city["list"][timeSlot].main.temp }} C</li>
    <li>Влажность: {{ city["list"][timeSlot].main.humidity }} %</li>
    <li>Погода: {{ city["list"][timeSlot].weather[0].main }}</li>
    <li>
      Ветер: {{ city["list"][timeSlot].wind.speed }} м/с, направление:
      {{ city["list"][timeSlot].wind.deg }} град.
    </li>
    <li>Обновлено: {{ city["lastUpd"] | date : "dd-MM-yyyy HH:mm:ss" }}</li>
    <!-- <li>{{ city["list"][timeSlot] | json }}</li> -->
  </ul>
  <button (click)="updateCity(city['city']['name'], city['city']['country'])">
    Upd
  </button>
  <button (click)="removeCity(city['city']['name'], city['city']['country'])">
    Del
  </button>
</div>
