.city-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 2rem;
}
.icon-weather {
  filter: drop-shadow(5px 5px 3px #d5d5d5);
  width: 40px;
}
.icon-wind-arrow {
  width: 15px;
}
select {
  cursor: pointer;
}
.button-block {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.button {
  margin: 0 5px;
  padding: 5px 15px;
  color: white;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
.button-upd {
  background-color: rgb(29 93 247);
  margin: auto 1em;
}
.button-del {
  background-color: rgb(210, 49, 49);
  margin: auto 1em;
}
