<app-search (cityName)="addCity($event)"></app-search>
<span class="errorNoCity" *ngIf="errorNoCity">
  Нет данных о погоде для {{ errorNoCity }}
</span>
<div>
  Период обновления
  <select
    value="10"
    [(ngModel)]="refreshPeriod"
    (change)="getSetRefreshPeriod()"
  >
    <option value="5">5 секунд</option>
    <option value="10">10 секунд</option>
    <option value="60">1 минута</option>
    <option value="600">10 минут</option>
    <option value="3600">1 час</option>
    <option value="7200">2 часа</option>
  </select>
</div>
<hr />
<div class="weather-cards">
  <app-city-card
    *ngFor="let city of storedCities | keyvalue : orderByCountry"
    [city]="city.value"
    (updWeather)="updWeather($event)"
    (deleteCity)="deleteCity($event)"
  ></app-city-card>
</div>
<div *ngIf="minMax['Температура'].length">
  <hr />
  Экстремумы:
  <ul>
    <li *ngFor="let extrem of minMax | keyvalue">
      <strong>{{ extrem.key }}</strong
      >: min: {{ extrem.value[0][1] }} ({{ extrem.value[0][0] }}) // max:
      {{ extrem.value[extrem.value.length - 1][1] }} ({{
        extrem.value[extrem.value.length - 1][0]
      }}
      )
    </li>
  </ul>
</div>
